<configuration>
  <connectionStrings>
    <add name="TSS_DB" connectionString="Data Source=;Initial Catalog=;User ID=;Password=" providerName="System.Data.SqlClient" />
  </connectionStrings>  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="FSharp.Core" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.6.0.0" newVersion="4.6.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="HtmlAgilityPack" culture="neutral" publicKeyToken="bd319b19eaf3b43a" />
        <bindingRedirect oldVersion="0.0.0.0-1.11.10.0" newVersion="1.11.10.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" culture="neutral" publicKeyToken="cc7b13ffcd2ddd51" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <!-- NOTE: remove debug="true" to serve compressed JavaScript -->
    <compilation debug="true" targetFramework="4.0" />
    <httpRuntime targetFramework="4.0" />
  </system.web>
  <system.webServer>
    <modules>
      <add name="WebSharper.RemotingModule" type="WebSharper.Web.RpcModule, WebSharper.Web" />
      <add name="WebSharper.Sitelets" type="WebSharper.Sitelets.HttpModule, WebSharper.Sitelets" />
    </modules>
	<security>
		<requestFiltering>
			<fileExtensions>
				<add fileExtension=".ttf" allowed="true" />
			</fileExtensions>
		</requestFiltering>
	</security>
  </system.webServer>
  <appSettings>
    <add key="WebSharper.JQuery.Resources.JQuery" value="/Scripts/jquery-3.4.1.min.js" />   
    <add key="Mode" value=" - Local" />
    <add key="HeaderColor" value="lightseagreen" />
    <add key="SharedFolder" value="\\..." />
    <add key="Log" value="log_{0:yyyy_MM_dd}.txt" />
    <add key="TradeValidPath" value="03_Trade_Valid_{0:yyyyMMdd}.csv" />
    <add key="TradeDeletedPath" value="04_Trade_Deleted_{0:yyyyMMdd}.csv" />
    <add key="NominationValidPath" value="01_Nom_Valid_{0:yyyyMMdd}.csv" />
    <add key="NominationDeletedPath" value="02_Nom_Deleted_{0:yyyyMMdd}.csv" />
    <add key="CostPath" value="05_Cost_{0:yyyyMMdd}.csv" />
  </appSettings>
</configuration>
